[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
black = "*"
websocket-server = "*"
websocket-client = "*"
mocker = "*"
fastapi = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.9"
